/* Styles that enhance the backend of Tri */

/* Custom Meta Box
-------------------------------*/
.tri-metabox {
	& input[type=text] {
		min-width: 50%;
		height: 30px;
	}
	& textarea { min-width: 50%; }
	& select { min-width: 120px; }
}


/* Custom Sidebars
-------------------------------*/
.delete-sidebar {
	margin: 5px 3px 0 0;
	float: right;
	width: 38px;
	height: 38px;
	border: 0;
	padding: 8px;
	background: 0 0;
	cursor: pointer;
	outline: 0;
	color: #72777c;

	&:hover {
		color: #23282d;
	}
}